.head {
  font-family: sans-serif;
  text-align: center;
  color: rgb(3, 3, 110);
}

.about {
  font-family: sans-serif;
  text-align: center;

  color: rgb(243, 171, 28);
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  

  border: 2px solid black;
}
.box {
  font-family: sans-serif;
  border: 1px solid black;
  padding: 20px;
  margin: 10px 70px;
  display: inline-block;
  box-sizing: border-box;
  width: 270px;
}
